<section class="landingPage">
  <div class="container-fluid landpage">
    <div class="row">
      <div class="col">
        <img src="../assets/images/logo2.png" class="introimg" alt="">
        <h1 class="text-center mainTitle">
          A/L infrastructures
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="about">
  <img src="../assets/images/aboutimg.jpg" height="600px" width="100%" alt="">
  <div class="box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
          <div class="imgbox"></div>
          <h2 class="title">About Us</h2>
          <p id="lnpad" class="text-white">
            At A/L infrastructures, our promise is to execute the highest-quality trim carpentry work to commercial and
            private jobs with a commitment to open, honest, two-way communication, respect, and empathy for our clients,
            employees, and each other. The result is excellent work that exceeds expectations and leaves everyone
            feeling
            good about a job well done.
          </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <div class="emptybox"></div>
          <p class="quote"><i class="fa-solid fa-quote-left"></i><br />
            That some
            achieve great <b>success</b>,<br />
            is proof
            to all that others can <br />
            achieve it as well.” <br />
            <span>- Abraham Lincoln</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <h1 class="secTitle">Services</h1>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card text-center">
          <div class="iconbox">
            <div class="iconwrapper">
              <i class="fa-solid fa-chair"></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Wood Work</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="iconbox">
            <div class="iconwrapper">
              <i class="fa-solid fa-hammer"></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Carpentery</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="iconbox">
            <div class="iconwrapper">
              <i class="fa-solid fa-wrench"></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Plumbing</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="iconbox">
            <div class="iconwrapper">
              <i class="fa-solid fa-plug"></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Electrical Works</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="recentWorks">
  <h1 class="secTitle">Our Recent Works</h1>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-2">
      <div class="col" *ngFor="let items of recentWorks">
        <div class="card h-100 text-center">
          <img src="{{ items.src }}" height="350px" class="imgprop card-img-top" alt="">
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="container mt-5">
  <div class="grid">
    <div class="grid-sizer">
      <img src="../assets/images/recw1.jpeg" alt="">
    </div>
    <div class="grid-item">
      <img src="../assets/images/recw2.jpeg" alt="">
    </div>
    <div class="grid-item grid-item--width2 grid-item--height2">
      <img src="../assets/images/recw3.jpeg" alt="">
    </div>
    <div class="grid-item grid-item--height3">
      <img src="../assets/images/recw4.jpeg" alt="">
    </div>
    <div class="grid-item grid-item--height2">
      <img src="../assets/images/recw5.jpeg" alt="">
    </div>
    <div class="grid-item grid-item--width3">
      <img src="../assets/images/recw6.jpeg" alt="">
    </div>
    <div class="grid-item">
      <img src="../assets/images/recw7.jpeg" alt="">
    </div>

</div>